h1, a {
	font-family:'Playball', cursive;
	color: #48FF90;
}

h2, a {
	text-align: center;
	font-family: 'Playball', cursive;
	color: #48FF90;
}

.page-header {
	padding: 10px 10px 10px 10px;
}

.post {
	background-color: #d8f0f3;
}